<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/download/css/bootstrap.min.css')
        link(rel="stylesheet", href="/login.css")        
        title Register
    body
        .container
            h1 BLOGGY
            if danger
                each error in errors
                    .alert.alert-danger.alert-dismissible
                        button.close(type='button', data-dismiss='alert') ×
                        strong Error!
                        |  #{error}
            


            fieldset
                    legend REGISTER
            form(action='/register', method='POST')
                
                    .form-group
                        label(for='exampleInputEmail1') Username
                        input#exampleInputEmail1.form-control(type='text', aria-describedby='emailHelp', placeholder='Enter username', name='username')
                    .form-group
                        label(for='exampleInputEmail1') Email address
                        input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='test@mail.com', name='email')
                    .form-group
                        label(for='exampleInputPassword1') Password
                        input#exampleInputPassword1.form-control(type='password', name='password',placeholder='Enter a password')
                    .form-group
                        label(for='exampleInputEmail1') Re-type Password
                        input#exampleInputEmail1.form-control(type='password', aria-describedby='emailHelp', name='password2',placeholder='Enter your password again')
                    button.btn.btn-primary(type='submit',id='submit') Register
                    p Already have an account? 
                            a(href='/login') LOGIN
                    


        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js', integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6', crossorigin='anonymous')
        
            