html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/download/css/bootstrap.min.css')
        link(rel='stylesheet', href="/profile.css", type='text/css')
        title Home
    body.update-section  
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.sticky-top
            a.navbar-brand(href='/profile')
                h3 Bloggy
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href='/profile')
                            | Home 
                            span.sr-only (current)
                    li.nav-item
                        a.nav-link(href='/about') About
                    li.nav-item.dropdown
                        a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                            | More
                        .dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
                            a.dropdown-item(href='/profile/update') Update Profile
                            a.dropdown-item(href='/logout') Log out

        .container.profile-section
            h3.title Update Profile

            form(method='POST',action='/profile/update')
                .form-group
                    .input-group.mb-3
                        .input-group-prepend
                            span#basic-addon1.input-group-text Existing email
                        input.form-control(type='text', aria-label='email',value=email aria-describedby='basic-addon1',readOnly)
                    .input-group.mb-3
                        .input-group-prepend
                            span#basic-addon1.input-group-text Updated email
                        input.form-control(type='text', name='email', placeholder='Enter new email address..', aria-label='Username', aria-describedby='basic-addon1',required)

                .form-group
                    .input-group.mb-3
                        .input-group-prepend
                            span#basic-addon1.input-group-text Existing Username
                        input.form-control(type='text', aria-label='email',value=username aria-describedby='basic-addon1',readOnly)
                    .input-group.mb-3
                        .input-group-prepend
                            span#basic-addon1.input-group-text Updated Username
                        input.form-control(type='text',name='username', placeholder='Enter new Username', aria-label='Username', aria-describedby='basic-addon1',required)
                button.btn.btn-success(type='submit') Update

        script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js', integrity='sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n', crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
        script(src='/download/js/bootstrap.min.js')